<div class="ion-text-center">
  <input   type="text" style="color: black;"  placeholder="Search by text" [(ngModel)]="searchText">
</div>
<ion-list>

    <ion-item *ngFor="let item of itemListData | filter:searchText ; let i = index ">
      <ion-card>
        <ion-card-header>
          <img src="{{item.photo}}" alt="">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Card {{i+1}}</ion-card-title>
    
          {{item.text}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>